name: CI

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 12 * * 2' # Every Tuesday at 8:00 AM EST
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install/cache node_modules
      - name: Cache node_modules
        uses: actions/cache@v3
        id: node-modules-cache
        with:
          path: |
            node_modules
          key: modules-${{ hashFiles('package-lock.json') }}
      - run: npm ci --ignore-scripts
        if: steps.node-modules-cache.outputs.cache-hit != 'true'

      - name: Build package and generate docs
        run: npm run generate

      # Running tests
      - name: Create .env files in submodule
        run: node test/ci-setup-env.js
        env: 
          TILLED_SECRET_KEY: ${{ secrets.TILLED_SECRET_KEY }}
          TILLED_PARTNER_ACCOUNT: ${{ secrets.TILLED_PARTNER_ACCOUNT }}
          VITE_TILLED_PUBLIC_KEY: ${{ secrets.TILLED_PUBLIC_KEY }}
          VITE_TILLED_MERCHANT_ACCOUNT_ID: ${{ secrets.TILLED_MERCHANT_ACCOUNT_ID }}
          VITE_TILLED_CUSTOMER_ID: ${{ secrets.TILLED_CUSTOMER_ID }}
          CI: true
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - name: Print Success
        run: echo "Success!"

      # Publish
      - name: Publish NPM Package
        id: publish
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}

      - name: Upload docs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: docs
          path: docs/
          retention-days: 3

      - name: Upload dist
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: dist
          path: dist/
          retention-days: 3

      - name: Setup Pages
        if: always()
        uses: actions/configure-pages@v2

      - name: Upload artifact
        if: always()
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs/

      - name: Deploy to GitHub Pages
        if: always()
        id: deployment
        uses: actions/deploy-pages@v2

      - name: Notify in Slack sdk-builds channel if new changes are published
        if: ${{ steps.publish.outputs.type }}
        uses: 8398a7/action-slack@v3
        with:
          text: '${{ steps.publish.outputs.id }} has been published. See the latest here https://www.npmjs.com/package/tilled-node'
          status: ${{ job.status }}
          fields: workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_SDK }}
